<%= simple_form_for(@lesson.new_record? ? [@course,@lesson] : @lesson) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :embed_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
