<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @teacher.user.email %>
</p>

<p>
  <strong>Courses count:</strong>
  <%= @teacher.courses_count %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
